sample/TDCocosDemo3_2/proj.ios_mac/TDCocosDemo3_2.xcodeproj/project.xcworkspace/xcuserdata/*
.DS_Store
sample/TDCocosDemo3_2/proj.android/libs/armeabi/libcocos2dcpp.so
sample/TDCocosDemo3_2/proj.android/bin
sample/TDCocosDemo3_2/proj.ios_mac/TDCocosDemo3_2.xcodeproj/project.xcworkspace
sample/TDCocosDemo3_2/proj.ios_mac/TDCocosDemo3_2.xcodeproj/xcuserdata
